<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem 
            id="menu_woocommerce_main" 
            name="WooCommerce" 
            sequence="50" 
            web_icon="woocommerce_integration,static/description/logo.svg"
        />

        <menuitem 
            id="menu_woocommerce_connections" 
            name="Connections" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_connection" 
            sequence="10"
        />

        <menuitem 
            id="menu_woocommerce_products" 
            name="WooCommerce Products" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_product" 
            sequence="20"
        />

        <menuitem 
            id="menu_woocommerce_category" 
            name="Categories" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_category" 
            sequence="25"
        />

        <menuitem 
            id="menu_woocommerce_product_images" 
            name="Product Images" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_product_image" 
            sequence="30"
        />

        <menuitem 
            id="menu_woocommerce_field_mappings" 
            name="Field Mappings" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_field_mapping" 
            sequence="35"
        />

        <menuitem 
            id="menu_woocommerce_coupons" 
            name="Coupons" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_coupon" 
            sequence="40"
        />

        <menuitem 
            id="menu_woocommerce_promotions" 
            name="Promotions" 
            parent="menu_woocommerce_main" 
            action="action_woocommerce_promotion" 
            sequence="41"
        />

        <menuitem 
            id="menu_woocommerce_order_webhooks" 
            name="Order Webhooks" 
            parent="menu_woocommerce_main" 
            action="woocommerce_order_webhook_action" 
            sequence="42"
        />

        <menuitem 
            id="menu_woocommerce_webhook_logs" 
            name="Webhook Logs" 
            parent="menu_woocommerce_main" 
            action="woocommerce_order_webhook_log_action" 
            sequence="43"
        />

        <menuitem 
            id="menu_woocommerce_config" 
            name="Configuration" 
            parent="menu_woocommerce_main" 
            sequence="100"
            groups="base.group_system"
        />

    </data>
</odoo>
